

*{
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body{
    margin: 0;
    width: 100%;
    background-image: url("../images/oriental.png")
}

a{
    border-right:  1px solid grey;
    padding: 20px;
}

h1{
    font-size: 60px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 0 20px 0 20px;
    margin: 0 50px 0 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    width: 100%;
    padding: 10px 0 20px 10px  ;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a{
    float: left;
    right: 20px;
}
.topnav{
    /* align-content: center; */
    padding: 0 20% 0 20%;
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.navButton{
    float: left;
    text-align: center;
    color: #777777;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.topnav::after{
    clear: both;
    content: "";
	display: block;
}

.profile{
    height: 30%;
    width: 30%;
}

.content{
    align-content: center;
    margin: 100px 25% 100px 25%;
    padding: 0 20px 20px 20px;
    width: 960px;
    background: white;
    float: left;
}


p{
    color: #777777;
    overflow: auto;
    display: block;
}

.project {
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
    margin: 20px;
}
.projImg{
    width: 200px;
    height: 150px;
}

.contactForm{
    width: 900px;
    clear: both;
    content: "";
    display: block;
}

form{
    width: 800px;
    margin: 20px;
}

input{
    width: 100%;
    margin: 0 0 20px 0;
}

textarea{
    width: 100%;
    margin: 0 0 20px 0;
}

.submit{
    background-color: #4aaaa5;
    border: 1px solid #dddddd;
    padding: 5px 20px 5px 20px;
    color: #ffffff;
}

.projectName{
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: #4aaaa5;
    padding: 10px 0 10px 0;
    color: #ffffff; 
    text-align: center;
}

.footer{
    width: 100%;
    margin: 0;
    background-color: #666666;
    color: #ffffff;
    border-top: #4aaaa5 solid 5px;
    padding: 20px 0 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    
}

@media screen and (max-width: 980px) {
    body{
        width: 980px;
    }
    .topnav{
        position: static;
        padding: 0;
    }
    h1{
        margin: 0 320px 0 10px;
        width: 300px;
        text-align: center;
        font-size: 40px;
    }

    .navButton{
        width: 80px;
        padding: 15px 10px 10px 10px;
        height: 20px
    }
    .content{
        margin: 20px 20px 60px 20px;
        width: 708px;
        padding: 10px 10px 10px 10px;
    }

    .profile{
        height: 50%;
        width: 50%;
        margin-right: 10px;
        clear:both;
    }
    .imgDiv{
        margin-right: 10px;
        clear:both;
    }

    .wrap{
        margin-left: 0px;
        overflow:auto;
        display:block;
    }

    .project {
        width: 320px;
        height: 250px;
        float: left;
        position: relative;
        margin: 10px;
    }

    .projImg{
        width: 300px;
        height: 225px;
    }

    .projectName{
        bottom: 40px;
        width: 300px;
    }

    input{
        width: 668px;
        margin: 0 0 20px 0;
    }

    .contactForm{
        width: 708px;
    }

    form{
        width: 708px;
    }

    textarea{
        width: 668px;
    }

}

@media screen and (max-width: 768px) {
    body{
        width: 768px;
    }
    .topnav{
        position: static;
        padding: 0;
    }
    h1{
        margin: 0 100px 0 10px;
        width: 300px;
        text-align: center;
        font-size: 40px;
    }

    .navButton{
        width: 80px;
        padding: 15px 10px 10px 10px;
        height: 20px
    }
    .content{
        margin: 20px 20px 60px 20px;
        width: 708px;
        padding: 10px 10px 10px 10px;
    }

    .profile{
        height: 50%;
        width: 50%;
        margin-right: 10px;
        clear:both;
    }
    .imgDiv{
        margin-right: 10px;
        clear:both;
    }

    .wrap{
        margin-left: 0px;
        overflow:auto;
        display:block;
    }

    .project {
        width: 320px;
        height: 250px;
        float: left;
        position: relative;
        margin: 10px;
    }

    .projImg{
        width: 300px;
        height: 225px;
    }

    .projectName{
        bottom: 40px;
        width: 300px;
    }

    input{
        width: 668px;
        margin: 0 0 20px 0;
    }

    .contactForm{
        width: 708px;
    }

    form{
        width: 708px;
    }

    textarea{
        width: 668px;
    }

}

@media screen and (max-width: 640px) {
    body{
        width: 640px;
    }
    .topnav{
        position: static;
        padding: 0;
    }
    h1{
        margin: 0;
        width: 600px;
        text-align: center;
    }
    h1::after{
        clear: both;
        content: "";
        display: block;
    }
    .navButton{
        width: 190px;
        padding: 20px 10px 20px 10px;
    }
    .content{
        margin: 20px 20px 60px 20px;
        width: 580px;
        padding: 10px 10px 10px 10px;
    }

    .profile{
        height: 100%;
        width: 100%;
    }

    .project {
        width: 580px;
        height: 450px;
        float: left;
        position: relative;
        margin: 10px;
    }

    .projImg{
        width: 560px;
        height: 425px;
    }

    .projectName{
        bottom: 50px;
        width: 560px;
    }

    input{
        width: 540px;
        margin: 0 0 20px 0;
    }

    .contactForm{
        width: 580px;
    }

    form{
        width: 580px;
    }

    textarea{
        width: 540px;
    }
}